<div class='container'>
  <div>
    <button type="button" (click)="export()" class="btn btn-danger"><i class="fas fa-file-export"></i>
      Xuất file Excel
    </button>
  </div>
  <hr>
  <!-- <form [formGroup]="formGroup">
    <input
      type="text"
      class="form-control"
      name="searchString"
      placeholder="Type to search..."
      formControlName="filter"
    />
  </form>  -->
  <table class="table table-striped table-bordered table-fixed" id="excel-table" >
    <thead>
      <tr>
        <th >STT</th>
        <th >Mã nhân viên</th>
        <th >Tên nhân viên</th>
        <th >Chức danh</th>
        <th >SĐT</th>
        <th >Email</th>
        <th >Kiểu nhận dạng</th>
        <th >Camera</th>
        <th >Scanner</th>
        <th >Thiết bị</th>
        <th >Cửa</th>
        <th >Thời gian</th>
      </tr>
    </thead>
    <tbody *ngIf="total == 0">
      <tr>
        <td>
          Chưa có dữ liệu
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="total > 0">
      <!-- <tr *ngFor = "let item of logs; let i = index"> -->
      <tr *ngFor="let item of logs | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.EmployeeCode}}</td>
        <!-- <td><ng-highlight [result]="item.EmployeeCode" [term]="filter.value"></ng-highlight></td> -->
        <td>{{item.EmployeeName}}</td>
        <td>{{item.EmployeeTitle}}</td>
        <td>{{item.EmployeePhone}}</td>
        <td>{{item.EmployeeEmail}}</td>
        <td>{{item.StyleScan}}</td>
        <td>{{item.CameraName}}</td>
        <td>{{item.ScannerName}}</td>
        <td>{{item.TerminalName}}</td>
        <td>{{item.DoorName}}</td>
        <td>{{item.TimeInOut}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <pagination-controls class='float-right' (pageChange)="page = $event" responsive="true" previousLabel="Trước"
      nextLabel="Sau"></pagination-controls>
  </div>
</div>